/*nav*/

.bg-trianglify-nav{
    background-image: url('img/trianglify.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    }

    .bg-trianglify{
        background-image: url('img/trianglify.png');
        background-size: cover; 
        background-repeat: no-repeat; 
        }

        .font-custom{
            font-family: 'Lobster Two', cursive;
        }
        
        .font-custom-2{
            font-family:'Roboto', sans-serif;
        }
        .border-white-custom{
    
            border : 5px white double;
            }

            /* autres */


/*portfolio*/
.overlay-text {
    z-index: 2;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 92.4%;
    top: 0;
    left: 4%;
    background: rgba(45, 136, 131, 0.7);
    transition: 0.3s linear;
    cursor: pointer;
}
.overlay-img:hover .overlay-text {
    opacity: 1;
}