/*nav*/

.bg-trianglify-nav{
    background-image: url('img/trianglify.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(245, 235, 235, 0.274);
    }

    .bg-trianglify{
        background-image: url('img/trianglify.png');
        background-size: cover; 
        background-repeat: no-repeat; 
        }

        .font-custom{
            font-family: 'Lobster Two', cursive;
        }
        
        .font-custom-2{
            font-family:'Roboto', sans-serif;
        }
        .border-white-custom{
    
            border : 5px white double;
            }
              .border-lgreen{
                border: 8px solid #E1F3DB;
            }
.color-lgreen{
    color: #0fbd91;
}

            .bg-color-blue{
                background-color: #141442;
            }
            /* autres liens github*/
            p > a{
                color:black;
            }
            .color-dblue{
                color: #141442;
            }

/*portfolio*/
.overlay-text {
    z-index: 2;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 92.4%;
    top: 0;
    left: 4%;
    background: rgba(45, 136, 131, 0.7);
    transition: 0.3s linear;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.274);
}
.overlay-img:hover .overlay-text {
    opacity: 1;
}
.img-fluid {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.274);
}
/* timeline*/
.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;

}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: #141442;;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
   
}

.timeline .separator {
   
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background:#141442;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
    border: 2px solid #141442;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.274);
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 100px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}

/*portfolio*/
.overlay-text {
    z-index: 2;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 92.4%;
    top: 0;
    left: 4%;
    background: rgba(45, 136, 131, 0.7);
    transition: 0.3s linear;
    cursor: pointer;
}
.overlay-img:hover .overlay-text {
    opacity: 1;
}